<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my-vue</title>
</head>
<style>
    #app {
        text-align: center;
    }
    ul {
        margin: 20px auto;
        width: 300px;
        list-style-type: circle;
        line-height: 30px;
    }
</style>
<body>
    <div id="app">
        <h2 style="color:#83e196">{{title.msg.text}}</h2>
        <input v-model="name">
        <button v-on:click="addTodo(233)">add</button>
        <h1 style="color:#1ffffa">{{name}}</h1>      
        <ul>
            <li v-for="item in items" v-on:click="delTodo(index)">
                {{item}}
            </li>
            <p>hey! how are you? 😄</p>
        </ul>
        <button v-on:click="clickMe">change title!</button>
    </div>
</body>
<script src="js/observer.js"></script>
<script src="js/watcher.js"></script>
<script src="js/compile.js"></script>
<script src="js/index.js"></script>
<script type="text/javascript">
     var vm = new _Vue({
        el: '#app',
        data: {
            title: {
                msg: {
                    text: 'todo-list'
                }
            },
            name: 'hello todo',
            items: ['hello world', 'hello js', 'hello css', 'hello html']
        },
        methods: {
            clickMe: function () {
                this.title.msg.text = 'hello todo';
            },
            addTodo: function () {
                this.items.push(this.name)
            },
            delTodo: function (index) {
                this.items.splice(index, 1)
            }
        }
    });
</script>
</html>
